body {
  background: url(../images/binding_dark.png);
  background-repeat: repeat !important;
  background-attachment: fixed;
}

p {
  color: #C0C0C0;
  font-family:fantasy;
}

.rel-results {
  list-style-type:circle;
}

.nojs {
  padding:2px;
  padding-left:6px;
  margin-bottom:5px;
  background:#ff0000;
  color:#ffffff;
  font-size:15px;
  border:1px solid #ff0000;
  border-radius:5px;
}

.outerdiv {
  margin-top:60px;
}

.span-style {
  font-size:17px;
  color: #C0C0C0;
}

.search-bar {
  width:100%;
  max-width:500px;
  margin-bottom: 25px;
}

.bar-style {
  background: #337AB7;
  color: rgb(250,250,250);
}

.related-results {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  color: #C0C0C0;
}

.movie-poster {
  float:left;
  width: 150px;
  margin-right: 10px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.span-outer {
  font-size:20px;
  color: #C0C0C0;
}

.outer-p {
  margin-top: 10px;
  color: #C0C0C0;
}

.inner-p {
  margin:2px;
  color: #C0C0C0;
}

.outer-p-2 {
  margin-top: 5px;
  color: #C0C0C0;
}

.outer-p-3 {
  margin-top: 15px;
  color: #C0C0C0;
}

.divider{
  margin: 0 8px 0 8px;
}

.divider:before {
  content: "|";
}

.row{
  margin-bottom: 30px;
}
